#files
config.js
test.js

#folders
node_modules/
bower_components/

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

#logs
yarn.lock
*.log
*.yml

#pids
*.pid

# wav files
voice/*.wav
*.wav

# env variable
.env
